.borderFont {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #ffffff;
}

.borderFont .text-gradient {
  /* background: linear-gradient(to right, #FA4417, #FCAA1C); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-stroke-color: linear-gradient(to right, #FA4417, #FCAA1C);
  color: transparent; */
}

.text-gradient {
  /* background: linear-gradient(to right, #FA4417, #FCAA1C); */
  background-image: linear-gradient(90deg, #fa4417, #fcaa1c);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-background-clip: text;
  color: #170C3F;
}

.text-gradient1 {
  /* background: linear-gradient(to right, #FA4417, #FCAA1C); */
  background-image: linear-gradient(90deg, #fa4417, #fcaa1c);
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  -webkit-background-clip: text;
  color: #D9D9D9;
}

.ourTeamContainer {
  padding-bottom: 6em;
}

.ourTeamContainer .ourTeamHeading h1 {
  margin-bottom: 1em;
}

.ourTeamContainer img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.ourTeamContainer .ourTeamHeading h1 {
  width: 65%;
}

.ourTeamContainer {
  width: 100%;
  flex-direction: column;
}

.pricipleHeading,
.ourTeamHeading {
  display: flex;
  justify-content: center;
}

.pricipleHeading h1,
.ourTeamHeading h1 {
  border-bottom: 2px dashed #6c42f8;

  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #8b68ff;
  margin-bottom: 1em;
}

.pricipleHeading,
.ourTeamHeading {
  width: 100%;
  flex-direction: column;
}

.ourTeamContainer .ourTeamHeading h1 {
  width: 65%;
}

.teamTopImagesFlex,
.teamMiddleFlex {
  display: flex;
}

.teamTopImagesFlex {
  gap: 4em;
  align-items: flex-end;
}

.teamTopImagesFlex {
  gap: 2em;
}

.teamTopImagesFlex {
  width: 100%;
  flex-direction: column;
}

.teamTopImagesFlex {
  flex-direction: column;
}

.teamMember img:hover {
  box-shadow: 0px 4px 15px 0px #927dfa;
  transform: scale(1.05);
}

.firstMember,
.seventhMember {
  flex: 40;
  text-align: end;
}

.firstMember img {
  width: 163.34px;
  height: 119.96px;
}

.imgTransform {
  box-shadow: 0px 4px 15px 0px #927dfa;
  transform: scale(1.05);
}

.secondMember,
.sixthMember {
  flex: 20;
}

.secondMember img {
  width: 232.06px;
  height: 170.44px;
}

.secondMember img,
.sixthMember img {
  width: 200.06px;
  height: 143.44px;
}

.thirdMember,
.fifthMember {
  flex: 40;
}

.thirdMember img {
  width: 163.34px;
  height: 119.96px;
}

.teamMiddleFlex {
  align-items: center;
  margin: 20px auto;
  gap: 2em;
}

.eightMember img {
  width: 232.06px;
  height: 170.44px;
}

.fourthMember img,
.eightMember img {
  width: 200.06px;
  height: 164.44px;
}

.aboutMember {
  width: 594px;
  height: 170.44px;
  border-radius: 20px;
  background: #ffffff1a;
  /* box-shadow: 0px 0px 15px 0px #927dfa9d inset; */
  padding: 20px 3em 30px;
  text-align: center;
}

.aboutMember .memberName {
  display: flex;
  justify-content: center;
}

.aboutMember .memberName h2 {
  border-bottom: 2px dashed #6c42f8;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.aboutMember h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  text-align: center;
}

.aboutMember p {
  font-size: 13px;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #2b2424;
}

.changeShadow {
  box-shadow: 0px 0px 7px 0px #8b68ff !important;
}

.aboutMember .memberName h2 {
  border-bottom: 2px dashed #6c42f8;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.aboutMember .memberName h2 {
  font-size: 15px;
  line-height: 25px;
}

.teamInfoDarkClr {
  color: #e1e0e0 !important;

  font-size: 13px;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.fourthMember img {
  width: 232.06px;
  height: 170.44px;
}

.teamBottom {
  align-items: flex-start;
}

.seventhMember img {
  width: 163.34px;
  height: 119.96px;
}

.sixthMember img {
  width: 232.06px;
  height: 170.44px;
}

.fifthMember img {
  width: 163.34px;
  height: 119.96px;
}
